body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Banner and navigation Style Start */

nav{
    display: flex;
    justify-content: space-between;
}

#banner-section{
    width: 100%;
    height: 675px;
   
    background-color: #2D25A0;
}


.menu-bar{
    display: flex;
    margin-left: 25px;
}

.logo h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 32px;
    color: rgb(30, 228, 228);
    margin: 15px;
}
.menu-items{
    margin-top: 35px;
    margin-left: 20px;
}

.menu-items a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 500;
    margin-right: 25px;
}


/* Login Button */

.login-button{
    margin: 27px 50px 0 0;
}

.button{
    background-color: #E02C6D;
    display: flex;
    color: white;
    height: 44px;
    width: 110px;
    border-radius: 5px;
}

.fa-sign-in-alt{
    font-size: 25px;
    margin: 10px;
    
}

.button a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 9px;
}

.button:hover{
    transform: scale(1.1);
}

/* Main Banner style Start */

.main-banner{
    display: flex;
    justify-content: space-evenly;
}

.welcome-heading{
    width: 485px;
    height: 350px;
    
}

.welcome-heading h1{
    font-size: 60px;
    color: white;
}

.button-arrow{
    background-color: #E02C6D;
    display: flex;
    color: white;
    height: 44px;
    width: 160px;
    border-radius: 5px; 
}

.button-arrow a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    margin: 7px 0 0 9px;
}
.fa-arrow-right{
    font-size: 20px;
    margin: 13px 0 0 7px;
}

.welcome-img img{
    width: 540px;
    margin-top: 50px;
}

/* Hover effect */

.welcome-img img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.button-arrow:hover{
    background-image: linear-gradient(to left, #dba6ac, #EB1D47);
    transform: scale(1.1);
}



/* Players Section Style Start  */

.players-section{
    display: flex;
    justify-content: space-around;  
}

.players-div{
    margin: 10px 20px 10px 
    20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}

.individual-player{
    width: 310px;
    height: 485px;
    
    padding: 15px 5px 30px 15px ; 
    box-shadow: 10px 10px 30px gray;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 5px;
}


.player-img img{
    width: 300px;
    height: 256px;
}

.player-details h1{
    font-weight: 700;
    font-size: 28px;    
}

 /* Highlights Section style start  */


 .highlights-section{
    margin: 50px 0 0 0;
    padding: 0px 0 15px 0;
    height: 550px ;
    background-color: #2D25A0;
    display: flex;
    justify-content: space-evenly;
 }
.highlights-news{
    width: 470px;
    height: 310px;
    padding-top: 0px;
}

.highlights-news h1{
    color: white;
    font-size: 60px;
}

.highlights-news p{
    color: white;
}

.highlights-img img{
    width: 567px;
    border-radius: 5px;
    padding-top: 80px;
}


/* Countdown-Style-Start */

.countdown-section{
    display: flex;
    justify-content:space-around;
}
.countdown-img-and-info{
    display: flex;
    margin-top: 20px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5px;
    margin-top: 50px;
    
}

.countdown-details{
    width: 350px;
    padding-left: 10px;
}

.countdown-details h1{
    font-size: 
    40px;   
    margin: 5px;
}

.countdown-details h2{
    font-size: 35px;
    
}

.countdown-details p{
    color: rgb(73, 71, 71);
    font-weight: 700;
}

.countdown-img img{
    padding-top: 10px;
    width: 370px;
    padding-right: 10px;
}

/* News Section style Start  */

.news-section{
    background-color: #2D25A0;
    margin-top: 50px ;
}

.news-section h1{
    color: white;
    font-size: 50px;
    text-align: center;
}

.news-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.individual-news{
    display: flex;
    width: 600px;
    color: white;
    margin-left: 30px;
    margin-bottom: 25px;
}

.news-details{
    margin-left: 20px;
    
    padding-right: 10px;
}

.news-details a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.news-details p{
    color: rgb(201, 192, 192);
    text-align: justify;
}

.news-img img{
    width: 300px;
    padding-top: 25px;
}


/* footer start */



.footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.img-and-logo{
    display: flex;
    margin-right: 25px;
}

.img-and-logo img{
    width: 250px;
}

.img-and-logo .logo h1{
    font-size: 35px;
    color: #10437A;
}


.social-icons a{
    text-decoration: none;
    color: rgb(61, 59, 59);
    font-size: 30px;
    padding: 0 10px; 
}

.copyright p{
    font-weight: 700;
}


/* Media Query Mobile */

@media screen and (max-width: 688px) {

    body{
        width: 100%;
    }

    #banner-section{
        height: 850px;
    }

    .menu-bar{
        margin: 0;
    }

    .menu-items{
        display: none;
    }

    .login-button{
        margin: 27px 20px 0 0;
    }

    .main-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .welcome-heading{
        margin-left: 20px;
        width: 90%;
        height: 250px;
    }

    .welcome-heading h1{
        font-size: 50px;
    }

    .button-arrow{
        margin-left: 20px;
    }

    .welcome-img img{
        width: 90%;
        margin-left: 20px;
    }

    /* media query heading finished */

    .players-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* media query Players section finished */


    /* Highlights Secton Media Query start */

    .highlights-section{
        width: 100%;
        display: grid;
        height: 1000px;
    }

    .highlights-news{
        width: 90%;
        height: 310px;
        padding: 20px 0 20px 20px;

    }

    

    .highlights-img img{
        width: 95%;
        padding-left: 9px;
        margin: 0;
        position: relative;
        top: 130px;
        
    }

    
    .highlights-news .button-arrow{
        margin-left: 0;
    }

    /* `   Highlight Media Query Done */

    /* Countdown Media query Start */

    .countdown-section{
        width: 100%;
    }

    .countdown-img-and-info{
        display:inline;
    }

    .countdown-img img{
        padding-right: 0px;
    }

    /* News Section Media Query Start */


    .news-div{
        display: flex;
        flex-direction: column;  
    }

    .individual-news{
    display: inline;
    width: 90%;
    
    }

    .news-details{
        margin-left: 0px;
    }
    /* Footer Media query */

    /* NO NEED */

}