body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Banner and navigation Style Start */

nav{
    display: flex;
    justify-content: space-between;
}

#banner-section{
    width: 100%;
    height: 675px;
    border: 2px solid;
    background-color: #2D25A0;
}


.menu-bar{
    display: flex;
    margin-left: 25px;
}

.logo h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 32px;
    color: rgb(54, 228, 91);
    margin: 15px;
}
.menu-items{
    margin-top: 35px;
    margin-left: 20px;
}

.menu-items a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 500;
    margin-right: 25px;
}

/* Login Button */

.login-button{
    margin: 27px 50px 0 0;
}

.button{
    background-color: #E02C6D;
    display: flex;
    color: white;
    height: 44px;
    width: 123px;
    border-radius: 5px;
}

.fa-sign-in-alt{
    font-size: 25px;
    margin: 10px;
    
}

.button a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 9px;
}